<h3>Search Results of games:</h3>

<div class="container tezt-center">
  <div class="row align-items-start">
    <% if !@matchGenres.blank? %>
      <% @matchGames.each do |game| %>
      <div class="col-sm-4 border border-primary subtle">
        <%= link_to game.game_name, game_path(game.id) %>
      </div>
      <% end %>
    <% else %>
      <p>No results!</p>
    <% end %>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
  <div class="col">
  </div>
  <div class="col pagination justify-content-center">
    <%= paginate @matchGames %>
  </div>
  <div class="col">
  </div>
  </div>
</div>

<h3>Search Results of genres:</h3>

<div class="container tezt-center">
  <div class="row align-items-start">
    <% if !@matchGenres.blank? %>
      <% @matchGenres.each do |genre| %>
      <div class="col-sm-4 border border-primary subtle">
        <%= link_to genre.genre_name, genre_path(genre.id) %>
      </div>
      <% end %>
    <% else %>
      <p>No results!</p>
    <% end %>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
  <div class="col">
    </div>
    <div class="col pagination justify-content-center">
      <%= paginate @matchGenres %>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<h3>Search Results of platforms:</h3>

<div class="container tezt-center">
  <div class="row align-items-start">
    <% if !@matchPlatforms.blank? %>
      <% @matchPlatforms.each do |platform| %>
        <div class="col-sm-4 border border-primary-subtle">
          <%= link_to platform.platform_name, platform_path(platform.id) %>
        </div>
      <% end %>
    <% else %>
      <p>No results!</p>
    <% end %>
  </div>
    <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
  <div class="col">
    </div>
    <div class="col pagination justify-content-center">
      <%= paginate @matchPlatforms %>
    </div>
    <div class="col">
    </div>
  </div>
</div>


