<div class="text-center">
<h3><%= @game.game_name %></h3>
<%= render @game %>
</div>
<% if @game.image.present? %>
<div class="d-flex justify-content-center align-items-start bg-image" style="background-image: url(<%= rails_blob_url(@game.image) %>); height: 100vh; background-repeat: no-repeat;">
  <table class="w-50 table-bordered table-striped bg-success p-2 text-white bg-opacity-10">
<% else %>
<div class="d-flex justify-content-center align-items-start">
  <table class="w-50 table">
<% end %>
    <tbody>
      <tr>
        <th scope="row">Rating: </th>
        <td><%= @game.rating%></td>
      </tr>
      <tr>
        <th scope="row">Release Date: </th>
        <td><%= @game.release_date%></td>
      </tr>
      <tr>
        <th scope="row">Genre: </th>
        <td><%= link_to @genre.genre_name, @genre%></td>
      </tr>
      <tr>
        <th scope="row">Platform: </th>
        <td><%= link_to @platform.platform_name, @platform%></td>
      </tr>
      <tr>
        <th scope="row">Description: </th>
        <td><%= @game.description%></td>
      </tr>
      <tr>
        <th scope="row">Price: </th>
        <td><%= @game.price%></td>
      </tr>
    </tbody>
  </table>
</div>