<h3><%= @game.game_name %></h3>
<% if @game.image.present? %>
  <div class="card-image">
    <figure class="image">
      <%# <%= image_tag @game.image.varient(resize_to_limit:[250,250]) %>
      <%= image_tag @game.image %>
    </figure>
  </div>
<% end %>
<p><%= @game.rating%></p>
<p><%= @game.release_date%></p>
<p><%= link_to @genre.genre_name, @genre%></p>
<p><%= link_to @platform.platform_name, @platform%></p>
<p><%= @game.description%></p>
<p><%= @game.price%></p>
