<% if @game.image.present? %>
<div class="p-3 d-flex flex-column justify-content-start align-items-center bg-image" style="background-image: url(<%= rails_blob_url(@game.image) %>); height: 100vh; background-repeat: no-repeat;">
  <h3 class="text-white"><%= @game.game_name %></h3>
<% else %>
<div class="p-3 d-flex flex-column justify-content-start align-items-center">
  <h3><%= @game.game_name %></h3>
<% end %>
  <div class="pb-1">
  <%= render @game %>
  </div>
<% if @game.image.present? %>
  <table class="w-50 table-bordered table-striped bg-success p-2 bg-opacity-10 text-white">
<% else %>
  <table class="w-50 table-bordered table-striped bg-success p-2 bg-opacity-10">
<% end %>
    <tbody>
      <tr>
        <th scope="row">Rating: </th>
        <td><%= @game.rating%></td>
      </tr>
      <tr>
        <th scope="row">Release Date: </th>
        <td><%= @game.release_date%></td>
      </tr>
      <tr>
        <th scope="row">Genre: </th>
        <td><%= link_to @genre.genre_name, @genre%></td>
      </tr>
      <tr>
        <th scope="row">Platform: </th>
        <td><%= link_to @platform.platform_name, @platform%></td>
      </tr>
      <tr>
        <th scope="row">Description: </th>
        <td><%= @game.description%></td>
      </tr>
      <tr>
        <th scope="row">Price: </th>
        <td>$<%= @game.price%></td>
      </tr>
    </tbody>
  </table>
</div>